<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>Hi, my name is Samantha. I am a web development student at General Assembly in Seattle. 
        After I graduated high school in 2010 I went to the Gary Manuel Aveda Institute on Capital Hill in Seattle 
        to become a licenced cosmetologist. I worked as a hair stylist at several locations across the greater Seattle
        area. In 2015 I had my daughter, Harper. Since being a mom I have decided to make a career change so that I could accomodate
        being closer to her and the ability to be home to spend my evenings with her. Over the last few years I have worked in offices
        in an administrative role. Back in December of 2018 I got laid-off from my last job, that was when I decided for another career
        change. So here I am, going to school to become a Sofware Engineer. Welcome to my journey!
    </p>
    
</body>
</html>