<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <H1>Skills</H1>
        <a>
            <li>Working closely with business representatives and upper management to prepare</li>
            <li>new member packets</li>
            <li>posting dues payments</li>
            <li>monthly excel spreadsheet deposit reports</li>
            <li>bank deposits</li>
            <li>balancing deposit books</li>
            <li>expense reports, certified</li>
            <li>suspension/termination letters</li> 
            <li>meeting coordination</li>
            <li>Website management</li>
            <li>job postings</li>
            <li>social media management</li>
        </a>
</body>
</html>

